body
{
	padding-top: 200px;
}

input[type='radio']
{
	display: none;
}

.slider
{
	border: solid darkslategrey 3px;
	border-radius: 5px;
	width: 400px;
	height: 300px;
	margin: auto;
	position: relative;
	overflow: hidden;
}

.slides-container
{
	width: 800px;
	height: 300px;
	display: flex;
	animation: left 0s forwards;
}

.slide
{
	width: 400px;
	height: 300px;
	line-height: 300px;
	text-align: center;
	font-size: 4em;
	font-weight: 800;
	color: lightgrey;
}

.slide:first-child
{
	background-color: royalblue;
}

.slide:last-child
{
	background-color: tomato;
}

.toggle
{
	background-color: rgba(0, 0, 0, 0.4);
	padding-top: 8px;
	height: 42px;
	width: 50px;
	border-radius: 50%;
	font-size: 2em;
	color: lightgrey;
	cursor: pointer;
}

.toggle.left
{
	position: absolute;
	top: 42%;
	left: -25px;
	width: 25px;
	padding-left: 25px;
}

.toggle.right
{
	position: absolute;
	text-align: right;
	top: 42%;
	right: -25px;
	width: 25px;
	padding-right: 25px;
}

#left:checked + input + div.slides-container
{
	animation: left linear .5s forwards;
}

#right:checked + div.slides-container
{
	animation: right linear .5s forwards;
}

@keyframes right {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-400px);
    }
}

@keyframes left {
    0% {
        transform: translateX(-400px);
    }

    100% {
        transform: translateX(0);
    }
}